.navBar{
    background-color: plum;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:3vh;
    padding: 1.5em;

}

.logo{
    height: 12vh; 
    width: auto; 
    filter:grayscale(100%) brightness(0)
}

.nav{
    margin-right: 1em;
    font-size: 14pt;
    text-decoration: none;
    color:black;
    font-weight: bold;

}
.nav:hover{
    margin-right: 1em;
    font-size: 14pt;
    color:rgb(19, 47, 173);
    font-weight: bold;
    text-decoration: underline;

}